.post {
    background-color: white;
    max-width: 900px;
    border: solid 1px lightgrey;
    margin-bottom: 10px;
}



.post___image {
    width: 100%;
    object-fit: contain;
    background-color: #ffffff;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.post___text {
    font-weight: normal;
    padding: 10px;
}

.post___header {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

.post___avatar {
    margin: 5px;
}