.post {
    background-color: white;
    max-width: 750px;
}



.post___image {
    width: 100%;
    object-fit: contain;
}

.post___text {
    font-weight: normal;
    padding: 10px;
}

.post___header {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

.post___avatar {
    margin: 5px;
}