* {
    margin: 0em;
}

.App {
    background-color: #fafafa;
    height: 100%;
}



.app__header {
    background-color: white;
    object-fit: contain;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
}